/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "src/styles/openk.styles";

:host {
  display: block;
}

.text-block {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0.125em 0.375em;
  border: 1px dashed get-color($openk-default-palette, 900);
  border-radius: 6px;
  background-color: get-color($openk-default-palette);
}

.text-block---selected {
  border-color: get-color($openk-info-palette, A300);
  background-color: rgba(get-color($openk-info-palette, A300), 0.04);
}

.text-block---error {
  border-color: $openk-error-color;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar--title {
  font-style: italic;
  margin-right: 0.2em;
  font-size: 0.8em;
}

.title-bar--error-msg {
  flex: 1 1 auto;
  margin-right: 0.25em;
  font-size: 0.8em;
}

.title-bar--buttons {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar--buttons---admin {
  justify-content: flex-end;
}

.title-bar--buttons-btn {
  margin-left: 0.125em;
}

.title-bar--buttons-btn---rotate-up {
  transform: rotate(-90deg);
}

.title-bar--buttons-btn---rotate-down {
  transform: rotate(90deg);
}

.title-bar--buttons-btn---revert {
  --icon-scale-factor: 0.55;
}

.title-bar--block-info {
  float: right;
}

.title-bar--block-error {
  float: right;
  color: $openk-error-color;
}

.highlight-text {
  color: get-color($openk-info-palette, A300);
  display: inline-flex;
}

.text-block--text {
  white-space: break-spaces;
  word-break: break-word;
}

.fade {
  position: relative;
  max-height: 2.75em;
  line-height: 1.4em;
  overflow: hidden;
}

.fade::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 1.44em;
  background: linear-gradient(to right, rgba(get-color($openk-default-palette), 0), get-color($openk-default-palette) 50%);
}

.error {
  color: $openk-error-color;
  display: inline-flex;
}

.error--icon {
  height: initial;
  width: initial;
  font-size: 1em;
  margin: auto;
}

.hidden {
  display: none;
}

.text-input {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  min-height: 2.5em;
  white-space: break-spaces;
}

.editable-text--icon {
  height: initial;
  width: initial;
  font-size: 1em;
  margin: auto;
}

.editable-text--icon---rotate {
  transform: rotate(90deg);
}
