/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "src/styles/openk.styles";

:host {
  display: flex;
  flex-flow: column;
  padding: 1em;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}

.dashboard-toggle {
  min-width: 12em;
  font-size: small;
}

.dashboard-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.dashboard-header-title {
  margin-right: auto;
  font-size: x-large;
  font-weight: 600;
}

.dashboard-list {
  margin-top: 2.5em;

  &:first-of-type {
    margin-top: 1em;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
