<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<app-collapsible
  [(appCollapsed)]="appCollapsed"
  [appTitle]="('statementEditorForm.container.contributionStatus' | translate)
     + ' (' + (contributions$ | async)?.selected?.length + '/' + (requiredContributionOptions$ | async).length + ')'"
  class="statement-details">

  <app-select-group
    *ngIf="(requiredContributionOptions$ | async)?.length > 0"
    [appGroups]="requiredContributionGroups$ | async"
    [appHideControls]="true"
    [appOptions]="requiredContributionOptions$ | async"
    [appValue]="contributions$ | async"
    style="padding: 1em;">
  </app-select-group>

  <div *ngIf="!((requiredContributionOptions$ | async)?.length > 0)"
       class="placeholder">
    {{"details.contributions.placeholder" | translate}}
  </div>

</app-collapsible>
