/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "openk.styles";

:host {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.title {
  margin-bottom: 1em;
}

.title--label {
  font-size: x-large;
  font-weight: 600;
  line-height: 1.1;
}

.loading-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.loading-page-label {
  @include user-select-mixin(none);

  text-align: center;
  padding-top: 0.5em;
  color: get-color($openk-default-palette, 800);
}
