<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<div [cdkDropListConnectedTo]="appConnectedTo"
     [cdkDropListData]="appListData"
     [cdkDropListEnterPredicate]="appEnterPredicate"
     [cdkDropListSortingDisabled]="true"
     cdkDropList>

  <app-text-block
    (cdkDragEnded)="isDragging = false; stopDrag(block)"
    (cdkDragReleased)="isDragging = false"
    (cdkDragStarted)="isDragging = true; startDrag(block)"
    (appAdd)="appAdd.emit({ textBlock: block, index: index })"
    (appDelete)="appDelete.emit({ textBlock: block, index: index })"
    (appEdit)="appEdit.emit({ textBlock: block, index: index })"
    (appDown)="appDown.emit({ textBlock: block, index: index })"
    (appUp)="appUp.emit({ textBlock: block, index: index })"
    *ngFor="let block of appListData; let index = index; trackBy: trackBy; let first = first; let last = last;"
    [appForAdmin]="appForAdmin"
    [appDownDisabled]="last"
    [appUpDisabled]="first"
    [appSelected]="appSelectedIds?.includes(block?.id)"
    [appShortMode]="appShortMode"
    [appShowNewLine]="false"
    [appTextBlockData]="block | getBlockDataFromBlockModel : appReplacements"
    [appWithoutTitlePrefix]="appWithoutTitlePrefix"
    [appTitle]="block.id"
    [cdkDragData]="block"
    [cdkDragDisabled]="appHiddenIds?.includes(block?.id)"
    [class.text-block-list-entry---hidden]="appHiddenIds?.includes(block?.id)"
    [appDisabled]="appDisabled"
    cdkDrag
    [class.disable]="appDisabled"
    class="text-block-list-entry grab">

    <ng-container *ngIf="appShowPreview">
      <button *cdkDragPreview class="openk-button openk-chip">
        {{'textBlocks.textBlock' | translate}} {{ block.id }}
      </button>
    </ng-container>

  </app-text-block>

</div>

<ng-container
  *ngIf="isDragging"
  [appGlobalClass]="'grabbing'">
</ng-container>
