<!-------------------------------------------------------------------------------
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 -------------------------------------------------------------------------------->

<app-collapsible
  [appCollapsed]="false"
  [appTitle]="('settings.users.editTitle' | translate) + appSelectedUser?.firstName + ' ' + appSelectedUser?.lastName + ' (' + appSelectedUser?.userName + ')'">

  <div [formGroup]="formGroup" style="padding: 1em;">
    <div class="email">
      <span class="email--identifier">{{"settings.users.email" | translate}}</span>
      <input [formControlName]="'email'"
             [placeholder]="'settings.users.emailPlaceholder' | translate"
             [type]="'email'"
             appFormControlStatus
             class="openk-input openk-info email--input"/>
    </div>

    <div *ngIf="appSelectedUser | appIsUserDivisionMember" class="department">
      <span>{{"settings.users.departmentGroup" | translate}}</span>
      <app-select #groupSelect
                  (appValueChange)="patchValue({departmentName: null})"
                  [appDisabled]="appDisabled"
                  [appOptions]="appDepartments | appOptionsFromDepartmentStructure | async"
                  [appPlaceholder]="'settings.users.departmentGroupPlaceholder' | translate"
                  [formControlName]="'departmentGroupName'"
                  class="openk-info department--select">
      </app-select>
      <span>{{"settings.users.department" | translate}}</span>
      <app-select
        [appDisabled]="appDisabled || ((appDepartments | appOptionsForDepartmentGroup: groupSelect.appValue).length === 0)"
        [appOptions]="appDepartments | appOptionsForDepartmentGroup: groupSelect.appValue"
        [appPlaceholder]="'settings.users.departmentPlaceholder' | translate"
        [formControlName]="'departmentName'"
        class="openk-info department--select"
      ></app-select>

    </div>

    <div class="buttons">
      <button (click)="submit(appSelectedUser.id)" [disabled]="appDisabled"
              class="openk-button openk-success">
        {{"settings.users.save" | translate}}
      </button>
    </div>
  </div>

</app-collapsible>

