/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

@import "../../../../../../styles/openk.styles";

:host {
  width: 100%;
}

.email {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}

.email--identifier {
  margin-right: 0.5em;
}

.email--input {
  flex: 1;
}

.department {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;

  > * {
    margin-right: 0.5em;
  }
}

.department--select {
  flex: 1 1 15em;
  width: 15em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
