/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.nav-frame-content {
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
}

.nav-frame-content-main {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
}

.nav-frame-content-footer {
  margin-left: auto;
  box-sizing: border-box;
  font-size: x-small;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
}
